<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <meta charset="UTF-8">
  <title><%= song.title %></title>
</head>
<body>
  <h1 id = "song"><%= song.title %></h1>


  <p>From
    <a href="/album/<%=song.album.id %>" id ="album">
      <%= song.album.title %>
    </a>
    by <a href="/album/<%=song.album.artist.id %>" id ="artist">
      <%= song.album.artist.name %>
    </a>
  </p>
  <div>
    <a href="/song/<%= song.id %>/edit">Edit</a>  
  </div>
  
  <div class = "spotFrame">
 

  </div>

  <script src = "../spotifySearch.js">
  </script>
  <script src = "../echoNestSearch.js">

  </script>
  <script>
  searchTrack( artist, album, song );
  var echoKey = "<%= echoKey %>";
  // searchSimilar(artist, echoKey);
  </script>
  


</body>
</html>