<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <meta charset="UTF-8">
</head>
<body>
  <h1><%= album.title %></h1>
  <div>
    <a href="/album/<%= album.id %>/edit">Edit</a>  
  </div>
  <form action="/songs" method="POST">
    <input type="text" name="title" placeholder="Add a Song" />
    <input type="hidden" name="album_id" value="<%= album.id %>" />
    <button>Submit</button>
    </form>
   
   <ul>
    <% album.songs.each do |song| %>
      <li>
        <a href="/song/<%= song.id %>">
        <%= song.title %>
        </a>
      </li>
    <% end %>
  </ul>
  
  <p>From Artist 
    <a href="/artist/<%=album.artist.id %>">
      <%= album.artist.name %>
    </a>
  </p>
</body>
</html>
