<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <meta charset="UTF-8">
  <title><%= artist.name %></title>
</head>
<body>
  <h1><%= artist.name %></h1>
  <div>
    <a href="/artist/<%= artist.id %>/edit">Edit</a>  
  </div>
  <p>Albums:</p>
  <ul>
    <% artist.albums.each do |album| %>
      <li>
        <a href="/album/<%= album.id %>">
        <%= album.title %>
        </a>
      </li>
    <% end %>
  </ul>
  <div class="container">
    
  </div>
  <form action="/albums" method="POST">
    <input type="text" name="title" placeholder="Add an album here" />
    <input type="hidden" name="artist_id" value="<%= artist.id %>" />
    <button>Submit</button>
    <script src = "../spotifySearch.js">
  </script>
  <script>searchArtist( artist, album, song );
  </script>
</body>
</html>